.product {
    &-item {
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        text-align: center;
        padding: 52px 20px 31px;
        transition: all .3s;
        height: 400px;
        width: 100%;
        &__wrapper {
            position: relative;
            width: 271px;
            transition: all .3s;
            &.product-item__wrapper--list {
                width: 100%;
            }
        }
        &:hover {
            box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
            color: $main-color;
        }
        &__title {
            font-weight: normal;
            padding: 14px 0 25px;
            font-size: 18px;
            line-height: 21px;
        }
        &__favorite {
            position: absolute;
            top: 16px;
            right: 19px;
            width: 24px;
            height: 22px;
            background-color: transparent;
            border: none;
            z-index: 5;
            outline: none;
            &::before {
                content: '';
                position: absolute;
                background-image: url('/icons/favorite.svg');
                width: 24px;
                height: 22px;
                top: 0;
                left: 0;
            }
            &--active {
                &::before {
                    background-image: url('/icons/favorite-active.svg');
                }
            }
        }
        &__basket {
            position: absolute;
            width: 60px;
            height: 40px;
            background-color: $main-color;
            border-radius: 10px 0px 0px 0px;
            border: none;
            bottom: 0;
            right: 0;
            padding-top: 7px;
            cursor: pointer;
            z-index: 10;
        }
        &__price {
            font-weight: 700;
            font-size: 30px;
            line-height: 36px
        }
        &__hover-text {
            padding: 18px 21px;
            background-color: rgba(255, 255, 255, .9);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            display: inline-block;
            position: absolute;
            top: 30%;
            opacity: 0;
            transition: all .3s;
        }
        &--sale {
            &::before {
                content: 'SALE';
                padding: 8px 15px;
                background-color: $main-color;
                position: absolute;
                left: 0;
                top: 0;
                text-transform: uppercase;
                color: #fff;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.07em;
            }
        }
        &__notify {
            &-text {
                display: none;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
            }
            &-link {
                display: none;
            }
        }
        &__img {
            max-width: 100%;
        }
    }
    &__title {
        font-family: 'Barlow', sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    &-slider {
        &__slider {
            &-btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: transparent;
                border: none;
                margin: 0;
                padding: 0;
                z-index: 5;
                cursor: pointer;
            }
            &-btnprev {
                left: -40px;
            }
            &-btnnext {
                right: -30px;
            }
        }
    }
    &__more {
        text-align: center;
        margin: 35px 0 0;
        &-link {
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            padding: 16px 43px;
            background-color: #F0F0F4;
        }
    }
    &-card {
        margin-bottom: 80px;
        &__inner {
            display: flex;
            justify-content: space-between;
        }
        &__img {
            &-box {
                width: 500px;
                padding-top: 64px;
                text-align: center;
                font-family: 'Barlow', sans-serif;
                position: relative;
                &::before {
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.12em;
                    padding: 13px 25px;
                    border-radius: 3px;
                }
            }
        }
        &__content {
            width: 570px;
        }
        &__title {
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 10px;
        }
        &__code {
            font-size: 15px;
            line-height: 18px;
            color: #2F3035;
            opacity: 0.6;
            margin-bottom: 26px;
        }
        &__buttons {
            margin-bottom: 50px;
            & a + a {
                margin-left: 30px;
            }
        }
        &__tab {
            font-size: 20px;
            line-height: 24px;
            color: #2F3035;
            opacity: 0.6;
            padding-bottom: 5px;
            padding-right: 17px;
            margin-bottom: 5px;
            & + .product-card__tab {
                padding-left: 17px;
            }
            &.tab--active {
                font-weight: 700;
                opacity: 1;
                border-bottom: 2px solid $main-color;
            }
        }
        &__price {
            &-old {
                display: inline-block;
                font-size: 30px;
                line-height: 44px;
                opacity: 0.6;
                background-image: url('/icons/old-line.svg');
                background-repeat: no-repeat;
                background-size: cover;
            }
            &-new {
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                margin-bottom: 17px;
            }
        }
        &__link {
            color: $main-color;
            border-bottom: 1px solid $main-color;
            font-size: 15px;
            line-height: 18px;
        }
        &__item {
            padding: 15px 0 6px;
            border-bottom: 1px solid rgba(47, 48, 53, 0.1);
            display: flex;
            justify-content: space-between;
            &-left {
                padding-right: 15px;
            }
            &-right {
                width: 125px;
            }
        }
        &__more {
            font-size: 14px;
            line-height: 17px;
            color: $main-color;
            border-bottom: 1px solid $main-color;
            margin-bottom: 40px;
        }
        &__list {
            margin-bottom: 20px;
        }
        &__btn button {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 16px 56px;
            background: $main-color;
            border-radius: 3px;
            border: none;
            cursor: pointer;
        }
    }

}

// product-item hover effects
.product-item {
    &:hover {
        & .product-item__hover-text {
            opacity: 1;
            color: #2f3035;
        }
        & .product-item__notify-text {
            color: #2f3035;
        }
    }
    &__wrapper {
        &.product-item__not-available {
            & .product-item__price {
                display: none;
            }
            & .product-item__notify-text {
                display: block;
            }
            & .product-item__basket {
                display: none;
            }
            & .product-item__title {
                padding-bottom: 13px;
            }
            & .product-item__notify-link {
                display: block;
                position: absolute;
                bottom: 20px;
                left: 0;
                right: 0;
                font-size: 16px;
                line-height: 19px;
                color: $main-color;
                text-align: center;
            }
            & .product-item__notify-link span {
                border-bottom: 1px solid $main-color;
            }
        }
    }
}

// products
.products {
    margin-bottom: 80px;
    &__tabs {
        margin-bottom: 25px;
    }
    &__tab {
        padding-bottom: 10px;
        &.tab--active {
            border-bottom: 2px solid #1C62CD;
        }
    }
}
.products__tab + .products__tab {
    margin-left: 50px;
}

