.sale-item {
    max-width: 265px;
    max-height: 400px;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__info {
        color: #fff;
        background-color: $main-color;
        padding: 8px 20px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
    }
    &__price {
        text-align: right;
        &-new {
            font-weight: 700;
            font-size: 27px;
            line-height: 32px;
            color: $main-color;
            margin-right: 6px;
            padding-right: 20px;
            &::after {
                content: '';
                background-image: url('/icons/icons-price.svg');
                position: absolute;
                right: 0;
                top: 8px;
                width: 15px;
                height: 18px;
            }
        }
        &-old {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #C4C4C4;
            margin-right: 15px;
            background-image: url('/icons/old-line.svg');
            padding: 2px 5px;
            background-repeat: no-repeat;
            display: inline-block;
            &::after {
                content: '';
                background-image: url('/icons/icons-price-old.svg');
                position: absolute;
                right: -10px;
                top: 5px;
                width: 8px;
                height: 10px;
            }
        }
    }
    &__footer {
        background-color:#F0F0F4;
        padding: 25px 20px;
        font-size: 18px;
        line-height: 21px;
        span {
            color: $main-color;
            display: block;
            font-family: 'Barlow', sans-serif;
            font-weight: 700;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 7px;
    }
    &__img {
        object-fit: contain;
    }
}